/* ********************* АДАПТИВ ********************* */

.dropdown-toggle {
	margin-top: 14px;
	margin-bottom: : 13px;
	margin-right: 46%;
	float: right;
}

.open>.dropdown-menu{
	width: 100%;
}

.dropdown-menu>li>a {
	background: #E7E7E7;
	text-align: center;
	color: #214f71;
	}

.dropdown-menu>li>a:hover {
	background: #F5F5F5;
	text-align: center;
	color:#337ab7;
	}

.dropdown-menu {
    background-color: #F5F5F5;
    border-radius: 0px;
}

li{
	list-style-type:none;
}

@media(min-width: 0px) and (max-width: 320px){

 .logotype>img {
 	
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .tophead {
	margin-top: 25px; 
}	 
 .text-border, .text-right{
	text-align: center;
}
 .phone_number{
	padding: 0;
}

#slider {
	min-height: 250px;
	background: url(../img/Items3.jpg) center right repeat-x;
}

.carousel-example-generic, 
.carousel-inner, 
.carousel-control, 
.carousel-indicators{
	display: none;
}
.section_header1, 
.section_header2, 
.section_header3  {
	padding-bottom: 0;
	padding-top:10px;
	margin: 10px;	

}
.section_header1>h2, 
.section_header2>h2,
.section_header3>h2
{
	font-size: 18px;
}
#textview1, #textview2, #textview3 {
    margin-top: 0px;
}

#products>.container>.row>.row-center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-center{
	display:inline-block;
}
.radius_products:hover{
	border: 3px solid #32719d;
}
#products {
   background-color: #f2f2f2;
}
#products_new {
	display: none;
}
.text_titles {
	text-align: center;
    font-size: 18px;
}
.text1, .text2, .text3{
	font-size: 14px;
	text-align: justify;
    margin: 10px;
    
} 
.text1>p, .text2>p, .text3>p  {
	font-size: 14px;
	text-align: justify;
}

.service_name {
	margin-bottom: 10px;
	margin-left: 5px; 
}
.partnerses{
	display: inline-block;
	min-height: 200px;
	margin: 15px;
}
.section_header_partners {
	margin-top: 0;
	margin-bottom: 20px;  
}
.owl-carousel {
	padding: 15px;
	height: auto;
	margin-bottom: 10px; 
}
.owl-carousel img {
	min-height: 30px;
	width: auto;
}
.bottomlast {
	text-align: center;
}
.bottomlast a, .bottomlast p, .bottomlast ins {
	font-size: 12px;
}
.mybottomfont {
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px; 
}
.footerlogo {
	display: flex;
	float: none !important;
	justify-content: center;
	margin: 15px;
}
}

@media(min-width: 321px) and (max-width: 480px) {

 .logotype>img {
 	
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .tophead {
	margin-top: 25px; 
}	 
 .text-border, .text-right{
	text-align: center;
}
 .phone_number{
	padding: 0;
}
 .phone_number>ins{
	font-size: 14px;
}


.carousel-inner>.item>img {

	min-height: 300px;
}

.service-item {
	
	justify-content: center;
}

.section_header1, 
.section_header2, 
.section_header3  {
	padding-bottom: 0;
	padding-top:10px;
	margin: 10px;	

}
.section_header1>h2, 
.section_header2>h2,
.section_header3>h2
{
	font-size: 18px;
}
#textview1, #textview2, #textview3 {
    margin-top: 0px;
}

#products>.container>.row>.row-center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-center{
	display:inline-block;
}
.radius_products:hover{
	border: 3px solid #32719d;
}
#products {
   background-color: #f2f2f2;
}
#products_new {
	display: none;
}
.text_titles {
	text-align: center;
    font-size: 18px;
}
.text1, .text2, .text3{
	font-size: 14px;
	text-align: justify;
    margin: 10px;
    
} 
.text1>p, .text2>p, .text3>p  {
	font-size: 14px;
	text-align: justify;
}

.service_name {
	margin-bottom: 10px;
	margin-left: 5px; 
}
.partnerses{
	display: inline-block;
	min-height: 200px;
	margin: 15px;
}
.section_header_partners {
	margin-top: 0;
	margin-bottom: 20px;  
}
.owl-carousel {
	padding: 15px;
	height: auto;
	margin-bottom: 10px; 
}
.owl-carousel img {
	min-height: 30px;
	width: auto;
}
.bottomlast {
	text-align: center;
}
.bottomlast a, .bottomlast p, .bottomlast ins {
	font-size: 14px;
}
.mybottomfont {
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px; 
}
.footerlogo {
	display: flex;
	float: none !important;
	justify-content: center;
	margin: 15px;
}
}
@media(min-width: 481px) and (max-width: 768px) {

 .logotype>img {

  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .tophead {
	margin-top: 25px; 
}	 
 .text-border, .text-right{
	text-align: center;
}
 .phone_number{
	padding: 0;
}
 .phone_number>ins{
	font-size: 14px;
}

.carousel-inner>.item>img {

	min-height: 300px;
}

.service-item {
	
	justify-content: center;
}

.section_header1, 
.section_header2, 
.section_header3  {
	
	padding-bottom: 0;
	padding-top:10px;
	margin: 10px;	

}
.section_header1>h2, 
.section_header2>h2,
.section_header3>h2 {

	font-size: 24px;
}
#textview1, #textview2, #textview3 {
    margin-top: 0px;
}
.row-center{
	display:inline-block;
}
#products>.container>.row>.row-center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radius_products:hover{
	border: 3px solid #32719d;
}
#products {
   background-color: #f2f2f2;
}
#products_new {
	display: none;
}
.text_titles {
	text-align: center;
    font-size: 22px;
}
.text1, .text2, .text3{
	font-size: 14px;
	text-align: justify;
    margin: 10px;
    
} 
.text1>p, .text2>p, .text3>p  {
	font-size: 14px;
	text-align: justify;
}

.service_name {
	margin-bottom: 10px;
	margin-left: 5px; 
}
.partnerses{
	display: inline-block;
	min-height: 200px;
	margin: 15px;
}
.section_header_partners {
	margin-top: 0;
	margin-bottom: 20px;  
}
.owl-carousel {
	padding: 15px;
	height: auto;
	margin-bottom: 10px; 
}
.owl-carousel img {
	min-height: 30px;
	width: auto;
}
.bottomlast {
	text-align: center;
}
.bottomlast a, .bottomlast p, .bottomlast ins {
	font-size: 14px;
}
.mybottomfont {
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px; 
}
.footerlogo {
	display: flex;
	float: none !important;
	justify-content: center;
	margin: 15px;
}
}
@media(min-width: 769px) and (max-width: 992px) {
	
 .logotype>img {

  display: block;
  margin-left: auto;
  margin-right: auto;
 }
	
 .tophead a {
	font-size: 14px;
} 

 .descript a{
	font-size: 14px;
}
 .descript {
	text-align: left;
}
 .phone_number{
 	display: block;
	text-align: left;
	padding: 0;
}
 .phone_number>p>a>ins {
	font-size: 14px;
}

ul.list-inline a {
	font-size: 14px;
	color: #4e5255;	
	padding: 25px 15px 20px 15px;
	text-decoration: none;
}
ul.list-inline a:hover {
    padding: 25px 15px 20px 15px; 
}

.list-inline>li {
    margin-top: 20px;
}

.carousel-inner>.item>img {

	min-height: 400px;
}

.service-item {
	
	justify-content: center;
}

.section_header1, 
.section_header2, 
.section_header3  {
	
	padding-bottom: 0;
	padding-top:10px;
	margin: 10px;	

}
.section_header1>h2, 
.section_header2>h2,
.section_header3>h2 {

	font-size: 24px;
}
#textview1, #textview2, #textview3 {
    margin-top: 0px;
}
.row-center{
	display:inline-block;
}
#products>.container>.row>.row-center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radius_products:hover{
	border: 3px solid #32719d;
}
#products {
   background-color: #f2f2f2;
}
#products_new {
	display: none;
}
.text_titles {
	text-align: center;
    font-size: 22px;
}
.text1, .text2, .text3{
	font-size: 14px;
	text-align: justify;
    margin: 10px 10px 20px 10px;
} 
.text1>p, .text2>p, .text3>p  {
	font-size: 14px;
	text-align: justify;
}

.service_name {
	margin-bottom: 10px;
	margin-left: 5px; 
}
.partnerses{
	display: inline-block;
	min-height: 200px;
	margin: 15px;
}
.section_header_partners {
	margin-top: 0;
	margin-bottom: 20px;  
}
.owl-carousel {
	padding: 15px;
	height: auto;
	margin-bottom: 10px; 
}
.owl-carousel img {
	min-height: 30px;
	width: auto;
}
.bottomlast {
	text-align: center;
}
.bottomlast a, .bottomlast p, .bottomlast ins {
	font-size: 15px;
}
.mybottomfont {
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px; 
}
.footerlogo {
	display: flex;
	float: none !important;
	justify-content: center;
	margin: 15px;
}
}
@media(min-width: 993px) and (max-width: 1200px) {
	
}